<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="google-site-verification" content="9IsjH-8M8DB-H2RI3qPJZYATcEXEJfS8mGwwoRhUBFA" />

    <meta name="description"
        content="Free Image Hosting - Upload your images for free and share them with your friends.">
    <meta name="keywords" content="free, image, hosting, upload, share, images">
    <meta name="author" content="František Špaček, Lukáš Podolský">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Free Image Hosting</title>

</head>

<body>

    <button id="toggleDark" class="dark-mode-btn"><i class="fas fa-moon"></i> Dark Mode</button>

    <div class="container">

        <h1><span class="underline">Free</span> Image Hosting</h1>
        <p>Upload your images for free and share them with your friends.</p>

        <form id="uploadForm">
            <label for="file" class="upload-area">
                <i class="fas fa-cloud-upload-alt"></i>
                <span>Drag & Drop or Click to Select a File</span>
            </label>
            <input type="file" name="file" id="file" required>
            <button type="submit" name="submit">Upload</button>
        </form>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}">
        // presunul jsem to do /static/ kvuli prehlednosti, pokud to tak nechces tak to klidne jebni tu ale za me je lepsi kdyz je to vedle
    </script>


</body>

</html>